@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");


body{
    background-image: url(https://wallpaper.dog/large/20529600.jpg);
}



.love{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 120px;
    background-image: url(https://images.pexels.com/photos/776636/pexels-photo-776636.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    border: 2px solid black;
    height: 530px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}




.love h1{
    position: absolute;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 150px;
    animation: lukas;
   animation-duration: 20s;
   font-family: "ALK Life", sans-serif;
}

@keyframes lukas{
    0%  {color: rgb(255, 153, 153);}
    10%  {color: rgb(165, 133, 133);}
    20%  {color: rgb(209, 135, 135);}
    30%  {color: rgb(255, 200, 49);}
    40%  {color: rgb(173, 199, 81);}
    50%  {color: rgb(231, 190, 76);}
    60%  {color: rgb(108, 112, 100);}
    70%  {color: rgb(197, 195, 80);}
    80%  {color: rgb(145, 119, 119);}
    90%  {color: rgba(161, 114, 114, 0.856);}
   100%  {color: rgb(117, 117, 117);}
   }
   




.love img{
    position: absolute;
    width: 150px;
    height: 130px;
    top: 0;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.69);
-webkit-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.69);
-moz-box-shadow: 7px 10px 12px -1px rgba(0,0,0,0.69);

}


#shenibedi{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    height: 50px;
    border-radius: 10px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
    cursor: pointer;
    color: aliceblue;
    box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
-webkit-box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
position: relative;
top: 55px;
}


#shenibedi1{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    height: 50px;
    border-radius: 10px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
    cursor: pointer;
    color: aliceblue;
    box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
-webkit-box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 13px 9px 14px 0px rgba(0,0,0,0.55);
position: absolute;
top: 430px;
}


    




#migeba{
    position: absolute;
    top: 250px;
    color: rgb(255, 255, 255);
    animation: none;
}

#migeba1{
color: #000;
margin-top: 280px;
}


#photo{
    position: absolute;
}


.button-down {
    position: absolute;
    padding: 5px;
    margin: 30px auto;
    background: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }
  
  .button-down:hover {
    transform: translate3d(0, 10px, 0);
  }
  


.bott1{
    background-color: rgba(0, 0, 0, 0.103);
    position: absolute;
    width: 100%;
top: 370px;
border: 0;
border-bottom: 3px solid  silver;
  }


  .bott2{
    background-color: rgba(0, 0, 0, 0.103);
    position: absolute;
    width: 100%;
top: 230px;
border: 0;
border-bottom: 3px solid  silver;
  }


  hr{
    position: absolute;
  }


  .bott3{
    background-color: rgba(0, 0, 0, 0.103);
    position: absolute;
    width: 100%;
top: 470px;
border: 0;
border-bottom: 3px solid  silver;
  }